*{
  font-family: Arial;
  line-height: 25px;
}

body{
  background-color: lightblue;
}

#titulo{
  background-color: white; 
  height: 40px;
  padding-top: 20px;
}

h1{
  color: #000075;
}

.a{
  border: 2px solid;
  padding: 20px;
  margin: 50px;
}

.assunto{
  padding-left: 100px;
}

.texto{
  padding-left: 25px;
}

figure img{
  padding-right: 45px;
}

figure{
  float: right;
  width: 30%;
  text-aligh: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0;
  padding: 0;
}






  
